.header {
  // .header__inner
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  &__inner {
    padding: 40px 16px;
  }

  // .header__row

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -12px;
  }

  // .header__logo

  &__logo {
    &::before {
      content: "";
      display: inline-block;
      width: 44.12px;
      // vertical-align: middle;
      height: 53.137px;
      margin-right: 10px;
      min-width: 44px;
      background: no-repeat url("/logo.svg");
    }

    display: flex;
    align-items: flex-end;
    margin: 0 12px;
    color: var(--primary-color);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 129.7%; /* 38.91px */
  }

  // .header__box

  &__box {
    margin: 0 12px;
    max-width: 726px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  // .header__list

  &__list {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    a:hover {
      color: #625ffb;
    }
  }

  // .header__button

  &__button {
    max-width: 140px;
  }
}
.logo {
}
.button-dark {
}
