.howWork {
  padding: 65px 0 150px;
  // .howWork__inner

  &__inner {
    border-radius: 30px;
    background: var(--background-color);
    padding: 496px 15px 162px;
  }

  // .howWork__row

  &__row {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .howWork__box

  &__box {
    max-width: 430px;
    width: 100%;
  }

  // .howWork__img

  &__img {
    width: 100%;
    height: 87px;
    margin-bottom: 32px;
  }

  // .howWork__text

  &__text {
    color: #231656;
    font-size: 30px;
    font-weight: 500;
    line-height: 133.2%;
    text-transform: capitalize;
    text-align: center;
    span {
      display: block;
      color: #4e4e4e;
      font-size: 20px;
      font-weight: 400;
      line-height: 160%;
      margin: 7px 0 0 0;
    }
  }
}
