.light-mood {
  // .light-mood__inner

  &__inner {
    // padding-bottom: 90px;
  }

  // .light-mood__title

  &__title {
    max-width: 747px;
    width: 100%;
    margin: 0 auto 43px;
    color: #8c8c8c;
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    line-height: 101.2%;

    span {
      color: #231656;
    }
  }

  // .light-mood__row

  &__row {
  }

  // .light-mood__img

  &__img {
    width: 100%;
    height: 833px;
  }
}
